@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,900;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: sans-serif;
    background: linear-gradient(to bottom, #9e60d1, #6b4aa6);
    color: #fff;
    display: flex;
  }
  
  /* Sidebar estilo */
  .sidebar {
    background-color: #4c3b7a;
    width: 250px;
    height: 100vh;
    padding: 20px;
    position: fixed;
  }
  
  .sidebar h2 {
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .sidebar ul {
    list-style-type: none;
    padding-left: 0;
  }
  
  .sidebar ul li {
    margin: 15px 0;
  }
  
  .sidebar ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
  }
  
  .sidebar ul li a:hover {
    text-decoration: underline;
  }
  
  /* Main content estilo */
  .main-content {
    margin-left: 270px;
    padding: 40px;
    flex-grow: 1;
  }
  
  .hero {
    background-color: #6b4aa6;
    padding: 40px;
    text-align: center;
    border-radius: 8px;
  }
  
  .hero h1 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .hero p {
    font-size: 18px;
    margin-bottom: 30px;
  }
  
  .btn {
    background-color: #7d5aa4;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
  }
  
  .btn:hover {
    background-color: #9176c4;
  }
  
  /* Cards */
  .card-container {
    display: flex;
    gap: 20px;
    margin-top: 20px;
  }
  
  .card {
    background-color: #553a7d;
    border-radius: 8px;
    padding: 20px;
    width: 30%;
  }
  
  .card h3 {
    font-size: 24px;
    margin-bottom: 15px;
  }
  
  .card p {
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  .card .btn {
    background-color: #7d5aa4;
    padding: 10px;
  }
  
  .card .btn:hover {
    background-color: #9176c4;
  }
  /* Estilos para o Preloader */
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff; /* Cor de fundo do preloader */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Coloca o preloader acima de todo o conteúdo */
  }
  